### Basic Set Up

In [3]:
import pandas

In [4]:
import requests

In [5]:
import pandas as pd

### Make Python read my origional cleaned B1/B2 Visa data file

In [6]:
df = pd.read_csv("COMM 217 Visa Data Cleaned.csv")

### Melting all countires into a long and skinny form

In [ ]:
df_melt = df.melt(
    id_vars="Country", var_name="Year", value_name="RefusalRate"
)

In [ ]:
df_melt["Year"] = pd.to_numeric(df_melt["Year"])

In [ ]:
df_melt = df_melt.sort_values(["Country", "Year"])

### Check and see if all countires are in a melt form by looking at the year row

In [ ]:
print(df_melt.head())

                               Country  Year RefusalRate
133  **NON-NATIONALITY BASED ISSUANCES  2016         NaN
335  **NON-NATIONALITY BASED ISSUANCES  2017      35.61%
537  **NON-NATIONALITY BASED ISSUANCES  2018      40.27%
739  **NON-NATIONALITY BASED ISSUANCES  2019      43.16%
941  **NON-NATIONALITY BASED ISSUANCES  2020      46.06%

### Pick out China, India, Japan, and South Koera from the dataset for visualization prep

In [ ]:
target_countries = [
    "CHINA",
    "INDIA",
    "JAPAN",
    "KOREA, SOUTH"
]

In [ ]:
df_selected = df_melt[df_melt["Country"].isin(target_countries)]

### Export New shorted data into csv format for tableau visualization

In [ ]:
df_selected.to_csv("asia_selected.csv", index=False)